CONFIGURE_ARGS="\
        linux-generic32 \
        no-idea no-bf no-cast no-seed no-md2 \
        -DL_ENDIAN"

UNNEEDED_SOURCES="\
        MacOS Netware VMS apps/demoCA apps/set bugs certs crypto/bf crypto/cast  \
        crypto/cms crypto/idea crypto/md2 crypto/rc5 crypto/seed demos doc       \
        engines ms os2 perl shlib test times tools util "

UNNEEDED_SOURCES+="\
        CHANGES CHANGES.SSLeay ChangeLog.0_9_7-stable_not-in-head                \
        ChangeLog.0_9_7-stable_not-in-head_FIPS Configure FAQ INSTALL            \
        INSTALL.DJGPP INSTALL.MacOS INSTALL.NW INSTALL.OS2 INSTALL.VMS           \
        INSTALL.W32 INSTALL.W64 INSTALL.WCE LICENSE Makefile Makefile.bak        \
        Makefile.org Makefile.shared NEWS PROBLEMS README README.ASN1            \
        README.ENGINE apps/CA.pl.bak config crypto/opensslconf.h.bak             \
        install.com makevms.com openssl.doxy openssl.spec"

OPENSSL_PATCHES="\
        progs.patch             \
        arm-asm.patch           \
	openssl_defs.patch"
